a {
  color: #282828;
}
a:hover {
  color: #ededed;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  background: none;
  background-color: #8f1f22;
  color: #edece3;
 
}.navbar .nav > li > a {
  color: #EDECE3;
 }
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #edece3;
  background-color: #8f1f22;
}

